@font-face {
  font-family: "Flat-UI-Pro-Icons";
  src: url("../fonts/flat-ui-pro-icons-regular.eot");
  src: url("../fonts/flat-ui-pro-icons-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/flat-ui-pro-icons-regular.woff") format("woff"), url("../fonts/flat-ui-pro-icons-regular.ttf") format("truetype"),
    url("../fonts/flat-ui-pro-icons-regular.svg#flat-ui-pro-icons-regular") format("svg");
}
img {
  max-width: 100%;
  max-height: 100%;
}
a,
a:link,
a:active {
  text-decoration: none;
}

.btn {
  background-color: transparent;
  outline-color: transparent;
  border: 1px solid #2f4154;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  padding: 12px;
  color: #2f4154;
  transition: all .2s linear;
}
.btn.primary:hover {
  border: 1px solid #1abc9c;
  color: #1abc9c;
}
.btn.danger:hover {
  border: 1px solid #c0392b;
  color: #c0392b;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
  outline-color: transparent;
}

.form {
  padding: 24px;
  background-color: #edeff1;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.form .form-input {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
  border: 2px solid #fff;
  outline-color: transparent;
  border-color: #fff;
  border-radius: 6px;
  padding: 10px;
  transition: border 0.2s linear;
  font-size: 1em;
}
.form .form-input:focus {
  border-color: #1abc9c;
}

.form-button-submit {
  width: 100%;
  max-width: 240px;
  margin-top: 28px;
  border: none;
  outline-color: transparent;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #1abc9c;
  padding: 12px;
  color: #1abc9c;
  font-size: 1.2em;
  transition: all .2s linear;
  cursor: pointer;
}
.form-button-submit:hover {
  background-color: #1abc9c;
  color: #ffffff;
}
.form-input,
.drop-files-area {
  margin: 8px 0;
  display: block;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.drop-input--label {
  cursor: pointer;
}
.info-message {
  display: block;
  text-align: left;
  color: #2f4154;
  font-size: 12px;
  margin: 8px 0;
}
.info-message.form-message-error {
  color: #c0392b;
}

.progress-bar {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 5px solid rgba(26, 188, 156, .2);
  border-radius: 50%;
  margin: auto;
  border-right-color: #1abc9c;
  animation: loading 2s linear infinite;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
